Repository BF-FrontEnd-class/agile-development-group1-hyf-rebuild, pull requests merged in 2023-05, with the labels that each got.

#9 Add defenition of the project
  .cspell.json
  README.md
Labels: md, planning

#10 add constraints
  .cspell.json
  package.json
  planning/constraints.md
Labels: md, planning

#11 modify-communication
  planning/communication.md
Labels: md, planning

#12 add user-personas
  .cspell.json
  planning/user-personas.md
  public/anna.jpg
  public/john.jpg
  public/sarah.jpg
Labels: md, planning

#13 Add backlog
  planning/backlog.md
Labels: md, planning

#15 update design
  planning/design.md
Labels: md, planning

#33 Update backlog
  planning/backlog.md
Labels: md, planning

#35 second-update-backlog
  planning/backlog.md
Labels: md, planning

#37 add navigation add page and style files
  pages/about.html
  pages/digitalents.html
  pages/program.html
  pages/volunteer.html
  public/logo.svg
  styles/about.css
  styles/digitalents.css
  styles/home.css
  styles/index.css
  styles/program.css
  styles/something.css
  styles/style.css
  styles/volunteer.css
Labels: HTML, CSS

#60 update logoNavHome
  index.html
  styles/home.css
Labels: HTML, CSS

#65 add development strategy
  .cspell.json
  planning/development-strategy.md
Labels: md, planning

#66 add title and bg home add links to pages
  index.html
  public/hack.jpg
  styles/home.css
Labels: HTML, CSS

#67 add sections
  .cspell.json
  index.html
  styles/home.css
Labels: HTML, CSS

#68 add our impact
  index.html
  styles/home.css
Labels: HTML, CSS

#71 add core values and svg
  index.html
  public/commitment.svg
  public/community.svg
  public/diversity-inclusiveness.svg
  public/open.svg
  styles/home.css
Labels: HTML, CSS

#77 add partners
  .cspell.json
  index.html
  public/Bruxelles-Formation.png
  public/DSJC-Member-NEGATIVE.png
  public/EPITECH-TECHNOLOGY.png
  public/agoriapng.png
  public/alliance.png
  public/antwerp-stad.jpg
  public/artevelde.svg
  public/axxes.png
  public/bruxelles-emploi.svg
  public/datacamp.png
  public/digital-belgium.svg
  public/duo-logo.png
  public/microsoft.svg
  public/print-simple.svg
  public/ux-antwerp.png
  public/vbo.png
  styles/home.css
Labels: HTML, CSS

#78 add contact home
  .cspell.json
  index.html
  styles/home.css
Labels: HTML, CSS

#81 add footer and delete slash in links
  .cspell.json
  index.html
  public/fb_icon.png
  public/github_icon.png
  public/linkedin_icon.png
  public/twitter_icon.png
  styles/home.css
Labels: HTML, CSS

#79 Add logo and navbar program page
  index.html
  pages/program.html
  styles/program.css
Labels: HTML, CSS

#80 Add logo and nav digitalents page
  .cspell.json
  pages/README.md
  pages/another-page.html
  pages/digitalents.html
  planning/backlog.md
  planning/development-strategy.md
  styles/digitalents.css
  styles/index.css
Labels: HTML, CSS

#84 Add title and description degitalents
  index.html
  pages/digitalents.html
  planning/development-strategy.md
  styles/digitalents.css
Labels: HTML, CSS

#85 add links to home
  index.html
  styles/home.css
Labels: HTML, CSS

#88 Add programme digitalents
  pages/digitalents.html
  styles/digitalents.css
Labels: HTML, CSS

#89 add classes
  index.html
  styles/home.css
Labels: HTML, CSS

#90 Volunteer
  pages/volunteer.html
  styles/volunteer.css
Labels: HTML, CSS

#92 update nav styles
  .cspell.json
  index.html
  public/logo1.png
  styles/home.css
Labels: HTML, CSS

#96 Add information digitalents
  pages/digitalents.html
  pages/volunteer.html
  public/info.jpg
  styles/digitalents.css
  styles/home.css
Labels: HTML, CSS

#97 add logo & navigation
  pages/about.html
  styles/about.css
Labels: HTML, CSS

#100 Volunteer section2
  pages/volunteer.html
  styles/volunteer.css
Labels: HTML, CSS

#104 add title for about page
  pages/about.html
  styles/about.css
Labels: HTML, CSS

#108 add section 3 to volunteer page
  pages/volunteer.html
  styles/volunteer.css
Labels: HTML, CSS

#112 add section 4 to volunteer page
  pages/volunteer.html
  styles/volunteer.css
Labels: HTML, CSS

#115 add text & image
  .cspell.json
  pages/about.html
  styles/about.css
Labels: HTML, CSS

#118 delete margin change a position of title
  .cspell.json
  styles/home.css
Labels: CSS

#119 Add footer digitalents
  pages/digitalents.html
  styles/digitalents.css
Labels: HTML, CSS

#121 bugg fixing
  styles/volunteer.css
Labels: HTML, CSS

#124 Mission,vision & histroy
  .cspell.json
  pages/about.html
  pages/volunteer.html
  public/mission.svg
  public/teamphoto.jpg
  public/vision.svg
  scripts/script.js
  styles/about.css
  styles/home.css
  styles/volunteer.css
Labels: HTML, CSS

#126 add team & footer
  .cspell.json
  pages/about.html
  public/daniel1.jpg
  public/hind2.jpg
  public/lizhen3.jpg
  styles/about.css
  styles/volunteer.css
Labels: HTML, CSS

#131 update.js and links in html
  index.html
  styles/home.css
Labels: HTML, JS

#133 Add update-digitalents
  pages/digitalents.html
  styles/digitalents.css
Labels: HTML, CSS

#137 update section 2 volunteer page
  styles/volunteer.css
Labels: HTML, CSS

#139 changes src body and nav
  index.html
  pages/about.html
  pages/digitalents.html
  pages/program.html
  styles/about.css
  styles/digitalents.css
  styles/home.css
  styles/program.css
  styles/volunteer.css
Labels: HTML, CSS

#140 add button learning path
  pages/program.html
  public/css.svg
  public/html.svg
  public/javascript.svg
  public/nodejs.svg
  public/react.svg
  public/sql.svg
  styles/program.css
Labels: HTML, CSS

#142 add retrospective
  planning/retrospective.md
Labels: md, planning

#145 change position of the title
  .cspell.json
  README.md
  index.html
  public/screen.png
  public/screen1.png
  styles/home.css
Labels: md, CSS

#146 delete icon fb
  index.html
Labels: HTML
